@import "func.styl"

.party-calendar
	width: w
	padding: 0 30px
	margin: a

.party-calendar h2 
	display: inline-block
	padding-right: 13px
	vertical-align: middle
	
.party-calendar-date
	padding: 0
	margin: 0
	display: inline-block
	list-style: none
	vertical-align: middle

.party-calendar-date li
	display: inline-block
	&:last-child a 
		padding-right: 0
	&:nth-child(7n+6)
		border: 1px solid #e8e8e8
	&:nth-child(7n+6) + li 
		border: 1px solid #e8e8e8
		
	
.party-calendar-date li a
	padding: 3px 7px
	color: #7c7c7c 
	text-decoration: none 
	cursor: default
	&:hover
		color: #7c7c7c
	
.party-day-active
	color: #1696dd i
	text-decoration: underline i
	cursor: pointer i 
	&:hover
		text-decoration: none i

.party-calendar-mounts
	display: table
	margin-top:10px
	
.party-calendar-mounts-prev
	margin-right: 10px
	color: defaultColor i
	&:hover i
		color: #1696dd

.party-calendar-mounts-this
	font-size: 13px

.party-calendar-mounts-next
	margin-left: 10px
	color: defaultColor i
	&:hover i
		color: #1696dd