@import "func.styl"

.pary-footer-general-page
	height: 760px
	width: 100%
	min-width: w
	background: #5d6b74

.pary-footer-else-page
	height: 195px
	width: 100%
	min-width: w
	background: #5d6b74
	margin-top: -195px

.-border
	border-top: 1px solid #818c93
	width: 1140px i
	padding: 0 i
	
.party-innner-footer-gen
	width: w 
	margin: a 
	padding: 30px
	display: table
	position: relative

.party-innner-footer-else
	width: w 
	margin: a 
	padding: 0 30px
	display: table
	position: relative

.paty-outer-one
	width: 630px
	display: table
	float: left

.party-slider-preview
	display: flex
	justify-content: space-between

.party-liders
	width: 150px
	text-align: center
	&:hover img
		opacity: .4

.party-image-mask
	border-radius: 50%
	width: 105px
	height: 105px
	margin: 0 auto
	display: table
	overflow: hidden
	background: buttonGreen

.party-image-mask img
	width:100%
	height 100%
	border-radius: 50%
	transition:.2s
	opacity: 1

.party-liders span
	display: inline-block
	width: 100%
	margin-top: 20px
	width: 120px

.party-video-last
	display:table
	margin-top: 50px

.party-video-last h2 
	color: #fff

.party-video-last h2 a 
	padding-left: 17px

.party-video-last > .party-video-item
	width:300px

.party-more-video > .party-video-item
	width:320px

.party-video-item
	float: left
	margin-right:20px 
	margin-top: 20px
	&:last-of-type
		margin-right:0

.party-video-item span
	display: inline-block
	margin-top:20px

.party-video-last .party-video-image-outer, .party-more-video .party-video-image-outer
	height:175px
	width: 100%
	position: relative
	overflow: hidden
	background: #ffb700
	
.party-video-image-outer i:before
		width: 40px
		height: 50px
		font: normal normal normal 14px/1 FontAwesome
		font-size: inherit
		text-rendering: auto
		-webkit-font-smoothing: antialiased
		-webkit-transform: translate(0,0)
		-ms-transform: translate(0,0)
		transform: translate(0,0)	
		content: "\f04b"
		position: absolute
		text-decoration: none
		font-size: 54px
		right: 15px
		bottom: 15px
		color: #fff
		z-index: 5

.party-video-item
	&:hover img
			opacity: .65
	&:hover span
			text-decoration: none i

		
.party-active-video
		position: relative
		width: 100%
		z-index: 1
		
		
.paty-outer-three
	width: 100%
	margin-top:50px
	float:left
	display: table
	position: relative


.paty-outer-three-else
	width: 100%
	float:left
	display: table
	position: relative
	
.paty-outer-three p, .paty-outer-three-else p
	float: left
	width: 237px
	color: noActive
	padding-top: 20px 

.party-footer-menu
	float: left
	width: 600px
	padding-top: 23px 

.party-footer-list-menu
	padding: 0
	margin: 0
	list-style: none
	display:  inline-block

.party-footer-list-menu li 
	display: inline-block
	margin-right: 55px
	vertical-align: top
	&:last-child
		margin-right: 0

.party-footer-list-menu li h5 
	color: #fff 
	padding-bottom: 15px 

.party-footer-list-menu li a
	color: noActive
	display: block
	padding: 2px 0

.party-outer-two
	position: absolute
	right: 35px
	text-decoration: none i
	top: 100px
	color: #fff
	width: 160px
	&:hover
		text-decoration: none
	&:hover h2
		text-decoration: underline
		color: #fff
	&:hover p 
		text-decoration: underline
	
.party-outer-two h2
	color: #fff
	margin-bottom: 15px

.party-absolute-map
	position: absolute
	
.party-active-lider img
	opacity: .4
	
.dev
	text-decoration: none i
	display:inline-block
	margin-top: 10px
	&:hover span
		text-decoration: underline



