bold = "GothamProNarrowBold"
medium = "GothamProNarrowMedium"
standart = "Arial"
linkB = #1696dd
linkO = #ffb700
buttonBlue = #1696dd
buttonOrange = #ffb700
buttonGreen = #58a659
noActive = #dae3e8
defaultColor = #151515
grey = #6f6f6f
w = 1200px
a = 0 auto
i = !important


.all-list
	padding: 0
	margin: 0
	list-style: none
	display: inline-block