@import "func.styl"

.party-outer-liders-page
	width: 100%
	flex-wrap: wrap 

.party-item-liders-page
	height:400px
	width: 265px

.party-item-liders-page img 
	display:block 
	margin: 0 auto
	width: 195px
	height: 195px
	border-radius: 50%

.party-liders-description
	padding: 30px 20px
	
.party-liders-description p 
	padding: 15px 0 
	color: grey

.party-liders-description h2 span
	border-bottom: 1px solid rgba(0,0,0, .4)

.-grey a 
	color: grey i
	

.-grey
	float: left
	padding: 0