@import 'func.styl'

.party-menu
	margin: 0 auto 30px
	display: table
	width: 1200px
	padding: 0 30px
	
.party-wraper-menu
	padding: 0
	margin: 0
	display: inline-block

.party-wraper-menu > li
	display: inline-block
	padding: 0 27px
	vertical-align: bottom
	position: relative
	z-index: 10;
	min-width:183px
	&:before
		content: ""
		width: 1px
		height: 100%
		position: absolute
		background: #e8e8e8
		top: 0
		right: 0
	&:last-child
		padding-right: 0
		min-width:160px
	&:last-child:before
		display:none

.party-wraper-menu > li > a
	color: #151515 i
	text-decoration: none i

.party-wraper-menu > li
	&:hover h2
		color: #83929b i 
	&:hover .party-drop
		display: block
	&:hover .party-drop:before 
		display: block
	
.party-wraper-menu > li > a > p
	color: #6f6f6f
	
.party-logo
	padding: 0 25px 0 0 i
	margin-top: -35px

.party-logo:before
	display: none

.party-drop
	position: absolute
	top: 140%;
	padding: 0
	margin: 0
	list-style: none
	background: #fff
	width: 100%
	left: 0
	border-bottom: 1px solid #e8e8e8
	display: none


.party-drop:before
	content: ''
	width: 100%
	position: absolute
	height: 155px
	border-width: 1px 1px 0px 1px
	border-color: #e8e8e8
	border-style: solid
	top:-100px
	display: none
	z-index: -1

	
.party-drop > li
	border-width: 1px 1px 0px 1px
	border-color: #e8e8e8
	border-style: solid

.party-drop > li > a 
	color: #000
	display:table
	width: 100%
	padding: 15px 25px
	text-decoration: none i
	&:hover
		background: #83929b
		color: #fff


