@import 'func.styl'

.party-page404
	height: calc(100% - 20px)
	display: table
	margin: -50px auto 0

.party-inner-404
	display: table-cell
	vertical-align: middle
	padding: 100px 0 10px 0

.party-inner-404 > h1
	font-size: 200px
	text-align: center
	color: defaultColor
	font-family: medium

.party-inner-404 > h1 > span
	font-size: 30px
	color: defaultColor
	font-family: medium
	
.party-inner-404 > p 
	font-size: 16px
	text-align: center
	color: defaultColor
	font-family: medium
	
.party-inner-404 > p > a
	font-size: 13px
	display: table
	margin: 0 auto
	margin-top: 20px
	
.party-inner-404 > figure img	
	display: table
	margin: 0 auto
	position: relative
	top: -40px