@import "func.styl"

.party-map-area
    width: 850px
    height: 600px
    padding-bottom: 30px
    position: relative
    
.party-back-img
	position: absolute
	top:-30px
	left: -20px

.party-map-regions-general
	position: relative
	width: 620px
	z-index: 10
	top: 56px
	left: 133px

.region
    display: none
    position: absolute
    z-index: -1

.desc-region
    display: none

#map
    z-index: 10

#image-id-1
    bottom: 5px
    left: 366px

#image-id-2
    left: 413px
    top: 207px

#image-id-3
    left: 336px
    top: 238px

#image-id-4
    left: 274px
    top: 212px

#image-id-5
    left: 370px
    top: 157px

#image-id-6
    left: 488px
    top: 141px

#image-id-7
    left: 519px
    top: 101px

#image-id-8
    left: 425px
    top: 88px

#image-id-9
    left: 335px
    top: 100px

#image-id-10
    left: 356px
    top: 7px

#image-id-11
    left: 278px
    top: 7px

#image-id-12
    left: 242px
    top: 62px

#image-id-13
    left: 256px
    top: 112px

#image-id-14
    left: 262px
    top: 160px

#image-id-15
    left: 218px
    top: 213px

#image-id-16
    left: 186px
    top: 141px

#image-id-17
    left: 178px
    top: 56px

#image-id-18
    left: 105px
    top: 193px

#image-id-19
    left: 92px
    top: 123px

#image-id-20
    left: 104px
    top: 38px

#image-id-21
    left: 57px
    top: 153px

#image-id-22
    left: 72px
    top: 38px

#image-id-23
    left: 35px
    top: 99px

#image-id-24
    left: 9px
    top: 172px
    
#image-id-25
    left: 144px
    top: 106px
    
.party-line-obl
	width: 100%
	height: 225px
	background: #5d6b74
	position: relative

.party-obl-outer
	width: w 
	margin: a
	display: table
	height: 225px
	padding: 0 30px

.party-inner-obl
	display:table-cell
	vertical-align: middle

.party-inner-obl img 
	height: 150px
	margin-right: 50px
	display: inline-block 
	vertical-align: middle
	
.party-outer-text-obl
	display: inline-block 
	vertical-align: middle
	width: 650px

.party-outer-text-obl h2
	color: #fff
	padding-bottom: 15px

.party-region-news
	width: 250px
	position: relative
	float: right
	padding: 30px
	margin-top: -180px
	border-left: 1px solid #e8e8e8
	border-right: 1px solid #e8e8e8
	border-top: 6px solid buttonOrange
	background: #fff

.party-liders-commit
	display: table
	width: w 
	margin: a 
	padding: 0 30px


.party-region-news h2
	padding-bottom: 15px

.party-liders-list
	float: left
	width: 845px
	padding-bottom: 50px
	position: relative
	overflow: hidden

.party-tabs
	display: table
	width: 100%
	margin-top: -10px
	position: absolute
	
.party-tabs a
	float:left
	transition: .2s
	padding-top: 25px

.party-lider-items
	width: 150px
	

.party-item-choise
	margin-top: 90px

.party-item-choise > div
	justify-content: flex-start i
	flex-wrap: wrap i

.party-liders p 
	padding: 20px 0 5px 0
	color: grey

.party-item-choise .party-liders span 
	margin-top: 0

.party-item-choise .party-liders
	position: relative
	width: 210px
	text-align: center
	padding-right: 60px
	margin-bottom: 20px
	&:before
		width:1px 
		position: absolute
		right: 30px
		height: 100%
		content: ""
		background: #e8e8e8
	&:last-child:before
		display: none

.party-item-choise .party-liders
	&:hover img
		opacity: 1 i


.party-logo-for-map
	position: absolute
	top: 66px
	left: 262px
	transition: .2s

.party-tabs-active
	margin-top: 10px
	
.party-outer-revie
	display: table
	width: 100%
	min-width: w
	position: relative
	
.party-preloader
	width:100%
	height: 100%
	background: #fff
	position: absolute
	z-index:99999
	display: none;

.party-preloader img 
	position: absolute
	top:0
	left: 0
	bottom: 0
	right: 0
	margin: auto
	width: 64px
	height: 64px



