@import "func.styl"

.party-video-photo-field
	width: 850px
	padding-bottom: 30px


.party-columm-smi-news
	width: 250px
	margin-top: -30px
	border-width: 0 1px 0 1px
	border-style: solid
	border-color: #e8e8e8

.party-border
	position: relative
	width: 1140px
	margin: a
	height: 6px
	background: buttonGreen

.party-columm-smi-news .party-photo-outer-block
	padding-top: 30px
	margin-bottom: 30px
	
.party-columm-smi-news .party-smi
	margin-bottom: 30px

.party-outer-all-miltimedia, .party-outer-single-miltimedia
	width: 100%
	display: table 

.party-multimedia-page-item
	width: 48%
	display: table
	height: 340px
	float: left
	position: relative
	margin-bottom: 35px
	&:nth-child(2n+2)
		float:right
	&:hover img
		opacity: .65
	&:hover span
		text-decoration: underline

.party-multimedia-single-item
	width: 31%
	display: table
	float: left
	margin-right: 3.2%
	position: relative
	margin-bottom: 35px
	&:nth-child(3n+3)
		margin-right: 0
	&:hover img
		opacity: .65
	&:hover span
		text-decoration: underline


.party-columm-smi-news .party-video-item	
	width: 100%



.party-columm-smi-news .party-video-image-outer
	width: 100%
	position: relative
	overflow: hidden
	background: #ffb700

.outer-cut-multimedia
	width: 100%
	height: 290px
	overflow: hidden
	position: relative
	background: buttonOrange

.outer-cut-single-multimedia
	width: 100%
	height: 175px
	overflow: hidden
	position: relative
	background: buttonOrange

.outer-cut-multimedia img, .outer-cut-single-multimedia img
	width: 100%
	height: 100%
	position: relative
	z-index: 1
	

.party-multimedia-page-item span
	color: #000000
	display: inline-block
	width: 100%
	margin-top: 15px
	
.outer-cut-multimedia i 
	position: absolute
	bottom: 30px
	right: 30px
	font-size: 50px
	z-index: 5
	
.-flex
	display: flex
	justify-content: space-between
	padding-bottom: 0

.party-title-photo-galery
	color: #83929b
	padding-bottom: 15px

.party-back
	float:right
	display: inline-block
	color: defaultColor i
	font-size: 13px;
	font-family: standart
	vertical-align: bottom
	text-transform: none
	margin-top: 15px
	text-decoration: none i
	

.party-back span 
	text-decoration: underline
	&:hover
		text-decoration: none
		
#imagelightbox
	position: fixed
	z-index: 99999
	cursor: pointer
	
.light
	position:fixed
	top: 0
	left: 0
	background: rgba(93,107,116, .67)
	width: 100%
	height: 100%
	z-index: 9999
	
	



